@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
}

:root {
    --c-glass: #aaa;
    --c-light: #f2f3f4;
    --c-dark: #222;

    --f-formal: "Figtree", sans-serif;

    --glass-reflex-dark: 1;
    --glass-reflex-light: 1;

    --saturation: 150%;

    --glass-bg: color-mix(in srgb, var(--c-glass) 12%, transparent);

    --glass-effect:
        inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent),
        inset 1.8px 3px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent),
        inset -2px -2px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent),
        inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent),
        inset -0.3px -1px 4px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent),
        inset -1.5px 2.5px 0px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
        inset 0px 3px 4px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
        inset 2px -6.5px 1px -4px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent),
        0px 1px 5px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent),
        0px 6px 16px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);
}

html,
body {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--f-formal);
    /* font-optical-sizing: auto; */
    font-weight: bold;
    font-style: normal;

    background: var(--c-dark);
    color: var(--c-light);

    width: 100%;

    display: grid;
    place-items: center;
}

/* MAIN */

.inner {
    width: 100%;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.speed-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.btn {
    display: block;
    width: 160px;
    text-align: center;
    padding: 20px 40px;

    background: var(--glass-bg);
    backdrop-filter: blur(8px) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: var(--glass-effect);

    border-radius: 8px;

    color: var(--c-light);
    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
    transition: all .5s ease;
}

.btn:hover {
    transform: scale(1.2);
}

.btn:active {
    transform: scale(.8);
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#game,
#next {
    border: 1px solid var(--c-light);
}

.scoreboard {
    display: grid;
    place-items: center;
    gap: 1rem;

    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}

/* FOOTER */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;

    text-align: center;
    color: var(--c-glass);
    font-size: 12px;
}